/* #000000
#1A4D2E
#FF9F29
#FAF3E3 */


.container{
    height: 100vh;
    display: flex;
    gap:25px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-content: flex-start;
    align-items: flex-end; */
}

.box_1,
.box_2,
.box_3{
    width:140px;
    height: 140px;
    background-color: skyblue;
    border:2px solid black;
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_1{
    align-self: flex-start;
}

.box_2{
    align-self: flex-end;
}

.box_3{
    align-self: center;
}